
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Tic-TacToe User Interface
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css?v=1.1" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <!-- ROS Libraries -->
  <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js"></script>
  <script type="text/javascript" src="mjpegcanvas.min.js"></script>
</head>

<body class="" >
  <div id="app" class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper" data-color="green">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            RTTT
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            RoboTicTacToe
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="./index.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./about.html">
              <i class="tim-icons icon-atom"></i>
              <p>About</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <!-- Camera Streaming -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Perception</h5>
                <h3 class="card-title"><i class="tim-icons icon-camera-18 text-success"></i> Camera Streaming</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="divCamera"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Play Tic-Tac-Toe -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Manipulation</h5>
                <h3 class="card-title"><i class="tim-icons icon-controller text-success"></i> Robot Commands</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <p style="margin-left: 15px;"> Use the <b>"New Game"</b> button to clear the screen and draw a new grid.</p>
                  <br>
                  <button class="btn btn-primary" style="display: block; margin: 0 auto;" @click="callNewGameService">New Game</button>
                  <br>
                  <p style="margin-left: 15px;"> Use the <b>"Next Move"</b> button to make the robot choose the next move.</p>
                  <br>
                  <button class="btn btn-primary" style="display: block; margin: 0 auto;" @click="callNextMoveService">Next Move</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ROS Bridge Connection -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Connection</h5>
                <h3 class="card-title"><i class="tim-icons icon-lock-circle text-success"></i> ROS2 Bridge</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <input type="text" class="form-control" v-model="rosbridge_address" placeholder="ROS Bridge Address">
                  <br>
                  <button class="btn btn-primary" style="display: block; margin: 0 auto;" :disabled="loading" @click="connect_rosbridge" v-if="!connected">Connect</button>
                  <button class="btn btn-danger" style="display: block; margin: 0 auto;" :disabled="loading" @click="disconnect" v-else>Disconnect</button>
                  <div class="font-icon-detail">
                      <i v-if="!connected" class="tim-icons icon-button-pause"></i>
                      <i v-else class="tim-icons icon-triangle-right-17"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Image Processed -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Perception</h5>
                <h3 class="card-title"><i class="tim-icons icon-image-02 text-success"></i> Image Processed</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="divImageProcessed"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Manual Control -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Manipulation</h5>
                <h3 class="card-title"><i class="tim-icons icon-app text-success"></i> Manual Control</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <p style="margin-left: 15px;"> Use the panel below to make a move in the corresponding position.</p>
                    <row style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(0)">0</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(1)">1</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(2)">2</button>
                        </row>
                        <row style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(3)">3</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(4)">4</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(5)">5</button>
                        </row>
                        <row style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(6)">6</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(7)">7</button>
                        <button class="btn btn-primary" style="margin: 0 10px; width: 80px;" @click="callNextManualService(8)">8</button>
                    </row>
                </div>
              </div>
            </div>
          </div>
          <!-- ROS2 Console -->
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">About</h5>
                <h3 class="card-title"><i class="tim-icons icon-laptop text-success"></i> RoboTic-Tac-Toe</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                    <p style="margin-left: 10px;"> This project showcases a TicTacToe game where a MyCobot 280 robotic arm competes against human players. It integrates advanced perception, decision-making, and motion planning to ensure a seamless gaming experience.</p>
                    <div style="display: flex; justify-content: center; align-items: center;">
                    <img src="coffee.gif" alt="A cup of coffee" class="img-fluid" style="max-width: 135px; height: auto;">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
  <script type="text/javascript">
    // Loading main.js with a Date.now() in the URL we avoids using cache
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'main.js?v=1.' + Date.now();
    document.head.appendChild(script);
  </script>
</body>

</html>